
/AwesomeSauceShmup/Intermediate
/AwesomeSauceShmup/Saved
/AwesomeSauceShmup/DerivedDataCache
/AwesomeSauceShmup/Binaries
/AwesomeSauceShmup/Build
/AwesomeSauceShmup/Source
/AwesomeSauceShmup/Samples
